@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500&display=swap");

:root {
  font-size: 130%;
  --base-unit: 32px;
}

body {
  background-color: rgba(249, 250, 251);
  padding: calc(4 * var(--base-unit)) calc(var(--base-unit) / 2);
  margin: auto;
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
  max-width: calc(20 * var(--base-unit));
}

a {
  color: #047857;
}

a:hover {
  color: #10b981;
}

strong {
  font-weight: 500;
}

.bio {
  font-size: 1.1rem;
}

.bio,
.portrait,
.more {
  text-align: center;
}

.portrait img {
  height: calc(3 * var(--base-unit));
  width: calc(3 * var(--base-unit));
  border-radius: 100%;
  margin-bottom: var(--base-unit);
}
